 <form class="warning" action="/company/{{ editCompany.getId() }}" method="post">
    <input type="hidden" name="_method" value="PUT">
    <legend>Modificar empresa</legend>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" value="{{ editCompany.getName() }}" required>
    <br>
    <label for="contact_info">Correo de Contacto:</label>
    <input type="email" id="contact_info" name="contact_info" value="{{ editCompany.getContactInfo() }}" required>
    <div>
        <button type="submit" class="success">Guardar cambios</button>
        <button type="reset" class="warning">Restaurar</button>
        <a href="/company"><button type="button">Descartar</button></a>
    </div>
</form>