 <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/company">Empresas</a>
            </li>
            <li>
                <a href="/product">Productos</a>
            </li>
            <li>
                <a href="/product">Crear Producto</a>
            </li>
            <li>
                <a href="/pedidos">Pedidos</a>
            </li>
        </ul>
    </nav>